<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spot</title>
    	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    	<link href="/assets/css/main.css" rel="stylesheet">
    </head>
    <body>
		<?php include('menu.phtml');?>
		<div class="container mainContainer">
    		<h3>Categorias</h3>
            <div class="row">
            	<div class="col-md-2">
                	<a class="btn btn-primary" href="../categoria/incluir" role="button">
                	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                		Incluir Nova Categoria
                	</a>
            	</div>
            </div>
            <br>
            <br>
            <div class="row">
            	<div class="col-md-12">
                	<div class="table-responsive">
                		<table class="table table-hover table-bordered">
                			<thead>
                				<th>Código</th>
                				<th>Categoria</th>
                				<th>Opções</th>
                			</thead>
                			<tbody>
                				<?php
                				$table = '';
                				foreach($categorias as $categoria)
                				{
                				    $table .= '<tr>';
                				    $table .= '<td class="col-md-5">' .$categoria['COD_CATEGORIA']  .'</td>';
                				    $table .= '<td td class="col-md-5">' .$categoria['DESCRICAO'] .'</td>';
                				    $table .= '<td td class="col-md-2">';
                				    $table .= '<a class="btn btn-info btn-xs" href="/categoria/alterar/'.$categoria['COD_CATEGORIA'].'" role="button">';
                					$table .= '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>';
                					$table .= '</a>';
                					$table .= '<a class="btn btn-danger btn-xs" onClick="excluirCategoria('.$categoria['COD_CATEGORIA'].', \''.$categoria['DESCRICAO'].'\')" role="button">';
                					$table .= '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>';
                					$table .= '</a>';
                					$table .= '</td>';
                					$table .= '</tr>';
                				}
                				echo $table;
                				?>
                			</tbody>
                		</table>
                	</div>
            	</div>
            </div>
		</div>
    	<script src="/assets/js/jquery.min.js"></script>
    	<script src="/assets/js/bootstrap.min.js"></script>
    	<script src="/assets/js/main.js"></script>
    	<script src="/assets/js/categoria.js"></script>
    </body>
</html>