<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spot</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
<?php include('menu.phtml');?>
<div class="container mainContainer">
    <div class="row">
        <div class="col-md-12">
            <?php
                $descH3 = isset($categoria[0]['COD_CATEGORIA']) ? 'Alterando Categoria' : 'Incluindo Categoria';
            ?>
            <h3><?php echo $descH3?></h3>
        </div>
    </div>
    <div class="row">
        <form method="post" class="formCategoria">
            <div class="row">
                <div class="col-md-4">
                    <div id="grupoNome" class="form-group">
                        <label>Descricao:</label>
                        <input type="text" id="DESCRICAO" name="DESCRICAO" class="form-control" value="<?php echo isset($categoria[0]['DESCRICAO']) ? $categoria[0]['DESCRICAO'] : '' ?>">
                        <input type="hidden" id="COD_CATEGORIA" value="<?php echo isset($categoria[0]['COD_CATEGORIA']) ? $categoria[0]['COD_CATEGORIA'] : 0 ?>">
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-7">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default" href="../../categoria" role="button">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/categoria.js"></script>
</body>
</html>