<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spot</title>
    	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    	<link href="/assets/css/main.css" rel="stylesheet">
    </head>
    <body>
		<?php include('menu.phtml');?>
		<div class="container mainContainer">
			<div class="row">
				<div class="col-md-3">
					<a class="btn btn-primary btn-lg" href="/categoria" role="button" aria-label="Left Align">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            			Listar Categorias
        			</a>
				</div>
				<div class="col-md-3">
				<div class="spacerButton visible-xs"></div>
					 <a class="btn btn-warning btn-lg" href="/produto" role="button" aria-label="Left Align">
                    	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    	Listar Produtos
               		 </a>
				</div>
			</div>
		</div>
    	<script src="assets/js/jquery.min.js"></script>
    	<script src="assets/js/bootstrap.min.js"></script>
    	<script src="assets/js/main.js"></script>
    </body>
</html>